* {
  padding: 0;
  margin: 0;
}

/*NESTING*/
body {
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/4397786/pexels-photo-4397786.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4397786.jpg&fm=jpg);
  background-size: cover;
}
body header nav {
  box-shadow: 0px 0px 7px 0px;
}
body header nav div img {
  width: 40px;
  height: 40px;
}
body header nav div .vidaVerde {
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Great Vibes", cursive;
  font-size: 32px;
}
@media (min-width: 768px) {
  body header nav div ul li a {
    padding: 4px 6px;
  }
}
body footer {
  background-color: #fff;
  padding-bottom: 1.5em;
  box-shadow: 0px 0px 7px 0px;
  display: grid;
  grid-template-areas: "seccionfooter" "news";
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 20px 0px;
}
@media (min-width: 768px) {
  body footer {
    grid-template-areas: "seccionfooter news";
  }
}
body footer .sectionFooter {
  grid-area: seccionfooter;
  margin-top: 15px;
  width: 85%;
  border: 3px solid rgb(0, 212, 71);
  border-radius: 15px;
  background-color: rgb(173, 255, 170);
  padding: 25px 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  body footer .sectionFooter {
    margin-top: 29px;
    width: 90%;
  }
}
body footer .sectionFooter h3 {
  color: rgb(0, 48, 0);
  font-size: 27px;
}
body footer .sectionFooter div {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body footer .sectionFooter div a {
  margin: 0px 25px 0px 25px;
}
body footer .sectionFooter div a img {
  width: 30px;
  height: 30px;
}
body footer .sectionFooter div a img:active {
  transform: scale(0.9);
}
@media (min-width: 768px) {
  body footer .sectionFooter div a img {
    width: 35px;
    height: 35px;
  }
}
body footer .sectionFooter p {
  color: rgb(22, 22, 22);
  font-size: 16px;
  margin-top: 30px;
}
body footer .newsletter {
  grid-area: news;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}
@media (min-width: 768px) {
  body footer .newsletter {
    margin-top: 30px;
    width: 90%;
  }
}
body footer .newsletter div {
  border: 3px solid rgb(0, 212, 71);
  border-radius: 15px;
  background-color: rgb(173, 255, 170);
  padding: 25px 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body footer .newsletter div h3 {
  color: rgb(0, 48, 0);
  font-size: 27px;
}
body footer .newsletter div input {
  margin-top: 14px;
  padding: 4px 0px 4px 5px;
  width: 85%;
}
@media (min-width: 768px) {
  body footer .newsletter div input {
    padding: 5px 50px 5px 5px;
  }
}
body footer .newsletter div button {
  border: 2px solid rgb(0, 212, 71);
  padding: 3px 7px;
  border-radius: 15px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

button {
  margin-top: 10px;
  transition: all 0.1s ease;
}
button:active {
  transform: scale(0.9);
}

.secciones {
  width: 85%;
  border: 3px solid rgb(0, 212, 71);
  border-radius: 25px;
  padding: 0.8em;
  background-color: rgb(195, 255, 193);
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
}

.tituloIntro {
  margin-top: 5px;
  text-align: center;
  color: rgb(0, 48, 0);
  font-size: 28px;
}

.parrafoIntro {
  margin: 20px 5px 10px 5px;
  color: rgb(3, 37, 0);
  font-size: large;
}

.contFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input, optgroup, select, textarea {
  margin-top: 0%;
}

.h2Preg {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  li a {
    padding: 4px 6px;
  }
  footer {
    grid-template-areas: "seccionfooter news";
  }
  .newsletter {
    margin-top: 30px;
    width: 90%;
  }
  .sectionFooter {
    margin-top: 29px;
  }
  .inputFooter {
    padding: 5px 50px 5px 5px;
  }
  .secciones, .seccionesImg, .contRedes {
    border: 4px solid rgb(0, 212, 71);
  }
  .seccionesImg {
    width: 60%;
  }
  .sectionFooter {
    width: 90%;
  }
  .tituloImg, .tituloIntro {
    font-size: 35px;
  }
}
main {
  display: grid;
  grid-template-areas: "imagen" "section" "section2";
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
}

.seccionesImg {
  grid-area: imagen;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  border: 3px solid rgb(0, 212, 71);
  border-radius: 25px;
  padding: 0.8em;
  background-color: rgb(195, 255, 193);
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
}
.seccionesImg h1 {
  text-align: center;
  margin-top: 7px;
  color: rgb(0, 48, 0);
  font-size: 28px;
}
.seccionesImg img {
  width: 94%;
  margin-top: 7px;
  border-radius: 25px;
  margin-bottom: 7px;
}

.introduccion {
  grid-area: section;
}
.introduccion h2 {
  color: rgb(0, 48, 0);
  font-size: 28px;
  margin-top: 5px;
  text-align: center;
}
.introduccion p {
  margin: 20px 5px 10px 5px;
  color: rgb(3, 37, 0);
  font-size: large;
}
.introduccion p a {
  color: rgb(0, 139, 46);
  text-decoration: underline;
}
.introduccion p a:active, .introduccion p a:visited {
  color: rgb(14, 56, 14);
}

.gridSection {
  grid-area: section2;
  margin-bottom: 20px;
}
.gridSection h2 {
  color: rgb(0, 48, 0);
  font-size: 28px;
  margin-top: 5px;
  text-align: center;
}
.gridSection h3 {
  margin: 20px 0px 1em 0px;
  text-align: center;
  color: rgb(1, 17, 0);
}
.gridSection ul li {
  list-style-type: disc;
  color: rgb(0, 59, 13);
  margin: 0px 15px 25px 0px;
  font-size: large;
}
.gridSection ul li span {
  color: rgb(0, 15, 3);
}

.mainContacto {
  background-image: url(https://images.pexels.com/photos/1358900/pexels-photo-1358900.jpeg?cs=srgb&dl=pexels-rene-asmussen-1358900.jpg&fm=jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 992px) {
  .mainContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
  }
}
.mainContacto .contenedorTituloContacto {
  margin-top: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .mainContacto .contenedorTituloContacto {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .mainContacto .contenedorTituloContacto {
    width: 35%;
    height: 200px;
    margin-bottom: 360px;
  }
}
.mainContacto .contenedorTituloContacto h1 {
  margin-bottom: 25px;
}
.mainContacto .contenedorTituloContacto p {
  margin: 20px 5px 10px 5px;
  color: rgb(3, 37, 0);
  font-size: large;
}
@media (min-width: 768px) {
  .mainContacto .contenedorTituloContacto p {
    width: 70%;
  }
}
.mainContacto .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .mainContacto .contacto {
    margin-right: 50px;
  }
}
.mainContacto .contacto form {
  border: 5px solid rgb(52, 211, 123);
  background-color: rgb(199, 255, 199);
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  padding: 23px 15px 15px;
  width: 260px;
}
@media (min-width: 768px) {
  .mainContacto .contacto form {
    width: 320px;
  }
}
.mainContacto .contacto form input {
  margin-bottom: 15px;
  padding-left: 5px;
}
.mainContacto .contacto form textarea {
  padding-left: 5px;
}
@media (min-width: 992px) {
  .mainContacto .contacto form label:hover {
    cursor: pointer;
  }
}
.mainContacto .contacto form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContacto .contacto form div button {
  border: 2px solid rgb(0, 212, 71);
  padding: 3px 7px;
  border-radius: 15px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
}

/*Extraido de bootstrap*/
.divPreguntas {
  margin-top: 35px;
}

.h2Preg {
  margin-bottom: 25px;
}

.buttonAcordeon {
  color: rgb(22, 109, 0);
}

.accordion-button:not(.collapsed) {
  color: rgb(22, 109, 0);
  background-color: #fff;
}

.accordion-button:focus {
  box-shadow: none;
}

.divAcordeonItem {
  margin: 10px 0px;
  width: 95%;
}

.accordion-item {
  padding-top: 0;
}

@media (min-width: 768px) {
  .divAcordeonItem {
    width: 90%;
  }
}
:root {
  --bs-font-sans-serif: ;
}

/*contacto html*/
/*Jugos y Licuados html*/
.divDiferencias {
  margin-top: 25px;
  margin-bottom: 15px;
}

.contParrafoDiferencias {
  background-color: rgb(195, 255, 193);
  padding: 10px 0px;
  margin-top: 15px;
}

.sectionJugos {
  width: 92%;
}

span {
  color: rgb(28, 138, 0);
}

.gridJugos {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.contenedorImgJugos {
  border: 4px solid rgb(52, 211, 123);
  border-radius: 25px;
  width: 245px;
  padding-bottom: 8px;
  background-color: rgb(138, 253, 138);
  margin: 35px 0px;
}

.imgJugos {
  border-bottom: 4px solid rgb(52, 211, 123);
  border-radius: 21px;
}

.parrafoImgJugos {
  margin: 10px 10px 12px;
  color: rgb(1, 36, 1);
}

.liJugos {
  color: rgb(21, 73, 1);
  list-style-type: circle;
  margin: 10px 0px;
}

/*Preguntas Frecuentes*/
/*BOWLS html*/
.seccionesBowl {
  border: 3px solid rgb(0, 212, 71);
  border-radius: 25px;
  padding: 0.8em;
  background-color: rgb(195, 255, 193);
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.bowl {
  width: 95%;
  border-radius: 15px;
}

.bowlToppingsContenedor, .h3RecetasBowl {
  margin-top: 40px;
}

.contenedorRecetasBowls {
  border: 4px solid rgb(52, 211, 123);
  border-radius: 25px;
  width: 95%;
  padding-bottom: 8px;
  padding-top: 10px;
  background-color: rgb(138, 253, 138);
  margin: 35px 0px;
}

@media (min-width: 580px) {
  .gridJugos {
    grid-template-columns: 1fr 1fr;
  }
  .contenedorRecetasBowls {
    width: 330px;
  }
}
@media (min-width: 768px) {
  /*Contacto html*/
  /*Jugos y Licuados*/
  .gridJugos {
    grid-template-columns: 1fr 1fr;
  }
  .contenedorImgJugos {
    width: 300px;
  }
  /*Preguntas*/
  /*BOWLS*/
  .divContTodosLosBowls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contenedorRecetasBowls {
    height: 530px;
  }
  .bowlToppingsContenedor {
    border: 4px solid rgb(52, 211, 123);
    border-radius: 25px;
    width: 350px;
    padding-bottom: 8px;
    background-color: rgb(138, 253, 138);
    padding-top: 15px;
  }
  .bowl {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .titulo {
    margin-left: 10px;
  }
  .aInicio, .aJugosLicuados, .aPreguntas, .aBowls, .aContacto, li a:hover {
    box-shadow: 0px 0px 15px 0px rgb(1, 22, 1);
  }
  .aJugosVerdes:hover {
    color: rgb(14, 56, 14);
  }
  .secciones {
    width: 80%;
  }
  .secciones, .seccionesImg {
    border: 4px solid rgb(0, 212, 71);
  }
  .h3Section2Inicio {
    margin: 35px 0px 1em 30px;
    text-align: start;
  }
  .spann {
    width: 500px;
  }
  li a {
    margin: 0px 15px;
    color: rgb(71, 255, 47);
    border: 1px solid rgb(75, 202, 75);
    border-radius: 15px;
  }
  .boton:hover {
    padding: 3px 30px;
  }
  .contRedes:hover, .info:hover, .contenedorImgJugos:hover, .contenedorRecetasBowls:hover, .bowlToppingsContenedor:hover {
    box-shadow: 0px 0px 12px 3px rgb(35, 129, 35);
  }
  .imgFooter, .info, .boton, .contRedes, .contenedorImgJugos, .liJugos, .buttonAcordeon, .contenedorRecetasBowls, .bowlToppingsContenedor, .liSection2Inicio {
    transition: all 0.1s ease-in;
  }
  .imgFooter:hover {
    transform: translateY(-5px);
  }
  .inputFooter {
    width: 50%;
  }
  .liSection2Inicio {
    padding: 3px 4px;
    border-radius: 5px;
  }
  .liSection2Inicio:hover, .liJugos:hover {
    background-color: rgb(156, 240, 135);
    box-shadow: 0px 0px 5px 1px rgb(34, 133, 34);
  }
  /*Contacto html*/
  /*Jugos Y Licuados*/
  .pDiferencias {
    width: 75%;
  }
  .liJugos {
    padding: 3px 5px;
    border-radius: 5px;
    width: 95%;
    margin: 5px 0px;
  }
  .contenedorImgJugos:hover, .contenedorRecetasBowls:hover {
    transform: scale(1.05);
  }
  /*Preguntas Frecuentes*/
  .divAcordeonItem {
    width: 85%;
  }
  .buttonAcordeon:hover {
    box-shadow: 0px 0px 7px 1px rgb(6, 53, 0);
  }
}
@media (min-width: 1440px) {
  /*Para los contenedores de Jugos y Licuados*/
  .gridJugos {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contenedorImgJugos {
    width: 360px;
  }
  /*BOWLS*/
  .bowl {
    width: 85%;
  }
  .parrafoBowl {
    width: 75%;
  }
  .contenedorRecetasBowls {
    margin-left: 30px;
    margin-right: 30px;
  }
}/*# sourceMappingURL=estilo.css.map */