*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --bs-font-sans-serif: ;
}

body{
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/4397786/pexels-photo-4397786.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4397786.jpg&fm=jpg);
    background-size: cover;
}

nav{
    box-shadow: 0px 0px 7px 0px;
}

.vidaVerde{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
}

.iconoVida{
    width: 40px;
    height: 40px;
}

a{
    text-decoration: none;
}

footer{
    background-color: #fff;
    padding-bottom: 1.5em;
    box-shadow: 0px 0px 7px 0px;
}

.contRedes{
    border: 3px solid rgb(0, 212, 71);
    border-radius: 15px;
    background-color: rgb(173, 255, 170);
    padding: 25px 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pRedes{
    color: rgb(22, 22, 22);
    font-size: 16px;
    margin-top: 30px;
}

.tituloIntro, .tituloImg{
    color: rgb(0, 48, 0);
    font-size: 28px;
}

.tituloImg{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 7px;
}

.secciones, .seccionesImg{
    width: 85%;
    border: 3px solid rgb(0, 212, 71);
    border-radius: 25px;
    padding: 0.8em;
    background-color: rgb(195, 255, 193);
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}

.fotoIntro{
    width: 94%;
    margin-top: 7px;
    border-radius: 25px;
    margin-bottom: 7px;
}


.seccionesImg{
    grid-area: imagen; 
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secciones{
    grid-area: section;
}

.tituloIntro{
    margin-top: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.parrafoIntro{
    margin: 20px 5px 10px 5px;
    color: rgb(3, 37, 0);
    font-size: large;
}

footer{
    grid-area: footer;
}

.gridSection{
    grid-area: section2;
}

main{
    display: grid;
    grid-template-areas: 
    "imagen"
    "section"
    "section2"
    "footer";
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

.h3Section2Inicio{
    margin: 20px 0px 1em 0px;
    text-align: center;
    color: rgb(1, 17, 0);
}

.liSection2Inicio{
    list-style-type: disc;
    color: rgb(0, 59, 13);
    margin: 0px 15px 25px 0px; 
    font-size: large;
}

.spanReemplazos{
    color: rgb(0, 15, 3);
}

.sectionFooter{
    grid-area: seccionfooter;
    margin-top: 15px;
    width: 85%;
}

.iconos{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgFooter{
    width: 35px;
    height: 35px;
    margin: 0px 20px;
}

.newsletter{
    grid-area: news;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

footer{
    display: grid;
    grid-template-areas: 
    "seccionfooter"
    "news";
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 20px 0px;
}

.inputFooter{
    margin-top: 14px;
    padding: 4px 0px 4px 5px;
    width: 85%;
}

.boton{
    border: 2px solid rgb(0, 212, 71);
    padding: 3px 7px;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 20px;
} 

button{
    margin-top: 10px;
}

.aDelFooter{
    width: 30px;
    margin-right: 45px;
}

.h3News{
    font-size: 27px;
}

/*contacto html*/

.mainContacto{
    background-image: url(https://images.pexels.com/photos/1358900/pexels-photo-1358900.jpeg?cs=srgb&dl=pexels-rene-asmussen-1358900.jpg&fm=jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 40px;
}

.contenedorTituloContacto{ 
    margin-top: 50px;
    width: 90%;
}

.padingInfo{
    padding-left: 5px;
}

textarea{
    margin-top: 10px;
}

.inputInfo{
    margin-bottom: 15px;
}

.tituloContacto{
    text-align: center;
    font-size: 35px;
    color: rgb(7, 61, 0);
}

.info{
    border: 5px solid rgb(52, 211, 123);
    background-color: rgb(199, 255, 199);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    padding: 23px 15px 15px;
    width: 260px;
}

.contFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px){
    nav ul{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .titulo{
        margin-bottom: 30px;
    }

    li a{
        padding: 4px 6px;
    }

    footer{
        grid-template-areas: 
        "seccionfooter news";
    }

    .newsletter{
        margin-top: 30px;
        width: 90%;
    }

    .sectionFooter{
        margin-top: 29px;
    }
    
    .inputFooter{
        padding: 5px 50px 5px 5px;
    }

    .secciones, .seccionesImg, .contRedes{
        border: 4px solid rgb(0, 212, 71);
    }

    .seccionesImg{
        width: 60%;
    }

    .sectionFooter{
        width: 90%;
    }

    .tituloImg, .tituloIntro{
        font-size: 35px;
    }

    /*Contacto html*/

    .info{
        width: 320px;
    }

    .contenedorTituloContacto{
        width: 80%;
    }
}

@media(min-width: 992px){

    .titulo{
        margin-left: 10px;
    }

    .secciones, .seccionesImg{
        border: 4px solid rgb(0, 212, 71);
    }

    .h3Section2Inicio{
        margin: 35px 0px 1em 30px;
        text-align: start;
    }
    
    .spann{
        width: 500px;
    }

    li a{
        margin: 0px 15px;
        color: rgb(71, 255, 47);
        border: 1px solid rgb(75, 202, 75);
        border-radius: 15px;
        transition: all 0.1s ease-in;
    }

    li a:hover{
        border-color: rgb(14, 56, 14);
        box-shadow: 0px 0px 7px 0px rgb(14, 56, 14);
    }

    .boton:hover{
        padding: 3px 30px;
    }
    
    .contRedes:hover, .info:hover{
        box-shadow: 0px 0px 12px 3px rgb(35, 129, 35);
    }

    .boton{
        transition: all 0.1s ease-in;
    }

    .imgFooter, .info, .boton, .contRedes{
        transition: all 0.1s ease-in;
    }

    .imgFooter:hover{
        transform: translateY(-5px);
    }

    .inputFooter{
        width: 50%;
    }

    .liSection2Inicio{
        padding: 3px 4px;
        transition: all 0.1s ease-in;
        border-radius: 5px;
    }

    .liSection2Inicio:hover{
        background-color: rgb(156, 240, 135);
        box-shadow: 0px 0px 5px 1px rgb(34, 133, 34);
    }

    /*Contacto html*/

    .mainContacto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 1000px;
    }

    .contenedorTituloContacto{
        width: 35%;
        height: 200px;
        margin-bottom: 360px;
    }

    .contacto{
        margin-right: 50px;
    }

    label:hover{
        cursor: pointer;
    }

}

